replicaCount: 1

image:
  repository: ghcr.io/sphiria/oci-images/mediawiki-fpm 
  pullPolicy: IfNotPresent
  tag: "v1.0.0-2"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}
podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  fpmPort: 9000
  nginxPort: 80

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "15m"
    nginx.ingress.kubernetes.io/forwarded-for-header: "CF-Connecting-IP"
    nginx.ingress.kubernetes.io/use-forwarded-headers: "true"
    nginx.ingress.kubernetes.io/compute-full-forwarded-for: "true"
    nginx.ingress.kubernetes.io/enable-real-ip: "true"
    nginx.ingress.kubernetes.io/proxy-real-ip-cidr: &cloudflareIps "173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22,2400:cb00::/32,2606:4700::/32,2803:f800::/32,2405:b500::/32,2405:8100::/32,2a06:98c0::/29,2c0f:f248::/32"
  hosts:
    - host: gbf.wiki
      paths:
        - path: /
          pathType: Prefix
  tls: []
  # ssl
  certManager:
    enabled: false
    issuerName: "letsencrypt-prod"
  # Enable basic authentication for the ingress
  basicAuth:
    enabled: false
    secretName: "" # e.g., gbf-wiki-basic-auth-secret
    realm: "Authentication Required"
    onePasswordItem:
      path: ""
      usernameField: "username"
      passwordField: "password"

nginxSidecar:
  enabled: true
  image:
    repository: nginx
    tag: stable-alpine
    pullPolicy: IfNotPresent
  config:
    webRoot: "/var/www/html"
    fpmHost: "127.0.0.1"
    fpmPort: 9000
    realIp:
      header: "CF-Connecting-IP"
      recursive: true
      setFrom: *cloudflareIps

phpFpmContainer:
  codeSourcePath: "/var/www/html"
  customConfig:
    enabled: true
    mountPath: "/etc/php83/php-fpm.d"
    configMapNameSuffix: "php-fpm-conf"

webrootVolume:
  enabled: true
  type: emptyDir
  emptyDir: {}
  mountPath: "/var/www/html"

# Resources, autoscaling, etc.
resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}
tolerations: []
affinity: {}

# Elasticsearch configuration
elasticsearch:
  enabled: true
  host: "https://elasticsearch-staging.sphiria.com"

uploadsVolume:
  enabled: true
  size: 100Gi
  storageClass: "hcloud-volumes"
  accessModes:
    - ReadWriteOnce

wiki:
  sitename: "Granblue Fantasy Wiki"
  metaNamespace: "Granblue_Fantasy_Wiki"
  memoryLimit: "1400M"
  defaultSkin: "Vector"
  maxUploadSize: 10485760
  uploadDirectory: "/mnt/uploads"
  serverUrl: "https://gbf.wiki"
  uploadPath: "https://gbf.wiki/images"
  scriptPath: ""
  logos:
    "1x": "/images/1/18/Vyrnball.png"
    icon: "/images/8/88/Gbfwiki_icon.png"
  favicon: "/favicon.ico"
  maxArticleSize: 8192
  cloudflareIps: *cloudflareIps
  extensions:
    Turnstile: true
    PageImages: true
    VipsScaler: true
    ImportArticles: true
    ParserFunctions:
      enableStringFunctions: true
      stringLengthLimit: 5000
    DynamicPageList:
      maxResultCount: 1000
    TabberNeue: true
    MsUpload: true
    Arrays: true
    Loops:
      countLimit: 1000
    Scribunto: true
    Variables: true
    VariablesLua: true
    TemplateSandbox: true
    WikiSEO: true
    CheckUser: true
    CLDR: true
    Widgets: true
    Linter: true
    DiscussionTools: true
    LabeledSectionTransclusion: true
    Echo:
      UseJobQueue: true
    EmbedVideo: true
    SphiriaTools: true
    DarkMode: true
    RandomSelection: true
    TemplateData: true
    VisualEditor: true
    RegexFunctions: true
    SimpleMathJax: true
    Flow: true
    MultiPurge: true
    TemplateStyles:
      enabled: true
      allowedUrls:
        image:
          - "<^/images/>"
    Cargo:
      dbName: "mwcargo"
      pageDataColumns:
        - categories
        - creationDate
        - modificationDate
        - creator
        - numRevisions
        - isRedirect
        - pageNameOrRedirect
      allowedSQLFunctions:
        - REPEAT
        - REPLACE
        - REGEX_REPLACE
        - REGEX_SUBSTR
        - TRIM
        - IN
        - GROUP_CONCAT
        - FIND_IN_SET
        - IF
        - IFNULL
        - ANY_VALUE
        - LENGTH
    DeletePagesForGood: true
    Discord: true
  database:
    miserMode: true
    host: "mariadb"
    name: "mediawiki"
    credentialsSecretName: "mediawiki-db-credentials"
    onePasswordItem:
      path: "vaults/sphiria/items/sphiria mediawiki"
      usernameField: "username"
      passwordField: "password"
  redis:
    host: "redis"
    port: 6379
  showExceptions: true
  secrets:
    credentialsSecretName: "mediawiki-secrets"
    onePasswordItem:
      path: "vaults/sphiria/items/sphiria mediawiki"
      turnstileSiteKeyField: "turnstile-site-key"
      turnstileSecretKeyField: "turnstile-secret-key"
      discordWebhookField: "discord-webhook"
      cloudflareZoneIdField: "cloudflare-zone-id"
      cloudflareApiTokenField: "cloudflare-api-token"
      emailField: "email"
      emailPasswordField: "email-password"

jobrunner:
  enabled: true
  replicaCount: 1
  image:
    repository: ghcr.io/sphiria/oci-images/mediawiki-jobrunner
    tag: "v1.0.0-1"
    pullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 200m
      memory: 350Mi
    requests:
      cpu: 100m
      memory: 300Mi