apiVersion: v1
kind: ConfigMap
metadata:
  name: mariadb-config
data:
  my.cnf: |
    [mysqld]
    max_connections = 150
    max_connect_errors = 100000
    max_allowed_packet = 64M
    skip-name-resolve
    innodb_buffer_pool_size = 2560M
    innodb_buffer_pool_instances = 4
    innodb_buffer_pool_chunk_size = 128M
    innodb_log_file_size = 512M
    innodb_log_buffer_size = 16M
    innodb_flush_log_at_trx_commit = 2
    innodb_flush_method = O_DIRECT
    innodb_io_capacity = 2000
    innodb_io_capacity_max = 4000
    innodb_read_io_threads = 4
    innodb_write_io_threads = 4
    innodb_page_cleaners = 4
    innodb_file_per_table = 1
    innodb_open_files = 400
    log_bin = /var/lib/mysql/mysql-bin
    binlog_format = ROW
    binlog_expire_logs_seconds = 604800  # 7 days
    max_binlog_size = 100M
    sync_binlog = 1
    query_cache_type = 0
    query_cache_size = 0
    tmp_table_size = 64M
    max_heap_table_size = 64M
    sort_buffer_size = 2M
    join_buffer_size = 2M
    read_buffer_size = 2M
    read_rnd_buffer_size = 4M
    thread_cache_size = 50
    thread_handling = pool-of-threads
    thread_pool_size = 4
    table_open_cache = 2000
    table_definition_cache = 1000
    wait_timeout = 28800
    interactive_timeout = 28800
    connect_timeout = 10

    slow_query_log = 1
    slow_query_log_file = /var/lib/mysql/slow-query.log
    long_query_time = 2
    log_slow_verbosity = query_plan,explain

    general_log = 0
    character-set-server = utf8mb4
    collation-server = utf8mb4_unicode_ci
    performance_schema = ON
    performance-schema-instrument = 'stage/%=ON'
    performance-schema-consumer-events-stages-current = ON
